body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.glyphicon-ok::before {
  content: "\f00c";
}

.glyphicon-remove::before {
  content: "\f00d";
}

.glyphicon {
  font-family: "FontAwesome";
  font-style: normal;
}

button {
  margin-bottom: 3px;
}

.row-alert {
  height: 3rem;
}

#myAlert {
  display: none;
}
